<div class="container">
  <h4>Keyword Search:</h4>
  <form #searchFrom="ngForm">
  <div class="input-group">
    <input class="form-control" placeholder="Please Input Drug Name or Target Name or Entry Name" #keyword required>
    <span class="input-group-btn">
      <button mat-raised-button color="primary" (click)="goTargetList(keyword.value)">Target</button>
      <button mat-raised-button color="primary" (click)="goDrugList(keyword.value)">Drug</button>
    </span>
  </div>
  </form>
  <br>
  <h4>Structure Search or Target Prediction:</h4>
  <div class="row">
    <div class="col-md-6">
      <app-jsme [elementId]="'jsme-demo-id'"
                #applet
                [width]="'85%'"
                [height]="'400px'"
                [showDemo]="true"
      >loading JSME widget
      </app-jsme>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="scrolling-content">
        <mat-tab-group>

          <mat-tab>
            <ng-template mat-tab-label>
              <!--<mat-icon>search</mat-icon>-->
              <mat-icon>done</mat-icon>
              <em style="color: black">Target Prediction</em>
            </ng-template>

            <mat-accordion class="headers-align">
              <h5>SMILES:</h5>
              <textarea class="smile-container" [value]="applet.smiles" #smiles1></textarea>
              <h6 class="font-color">
                <em>Similarity Ensemble Approach(SEA):</em>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="goTargetPrediction(smiles1.value)"
                >Target Prediction</button>
              </h6>
            </mat-accordion>
          </mat-tab>

          <!--Browse-->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>search</mat-icon>
              <em>Structure Search</em>
            </ng-template>

            <mat-accordion class="headers-align">
              <h5>SMILES:</h5>
              <textarea class="smile-container" [value]="applet.smiles" #smiles2></textarea>
              <h6>Structure Type:</h6>
                <mat-radio-group [(ngModel)]="structureType" >
                  <mat-radio-button *ngFor="let typeEl of structureTypes" [value]="typeEl">
                    {{typeEl | titlecase}}&nbsp;&nbsp;&nbsp;
                  </mat-radio-button>
                </mat-radio-group>
                <div>
                  <h6>Tanimoto threshold: {{similaritySlider.value}}</h6>
                  <mat-slider class="slider-width"
                    min="0.7" max="1" step="0.01"
                    [(ngModel)]="similarity"
                    [thumbLabel]="true"
                    [disabled]="structureType === 'substructure'"
                    #similaritySlider>
                  </mat-slider>
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="onSubmit(smiles2.value)"
                  >Search
                  </button>
                </div>
            </mat-accordion>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>

</div>
