<h5>{{drug?.drug_name}} Basic Information</h5>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col">
    <app-jsme [elementId]="drug?.id"
              [width]="'250px'"
              [height]="'320px'"
              [option]="'depict nozoom noshowdraganddropsymbolindepictmode'"
              [molString]="drug?.smiles"
    ></app-jsme>
  </div>
  <div class="mdl-cell mdl-cell--9-col">
    <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" style="width: 100%">
      <tr>
        <th>Drug Name</th>
        <td>{{drug?.drug_name}}</td>
      </tr>
      <tr>
        <th>Drug State</th>
        <td>{{drug?.drug_state}}</td>
      </tr>
      <tr>
        <th>DrugBank ID</th>
        <td>
          <a href="https://www.drugbank.ca/drugs/{{drug?.drugbank_id}}" target="_blank">
          {{drug?.drugbank_id}}</a>
        </td>
      </tr>
      <tr>
        <th>IUPAC</th>
        <td>{{drug?.IUPAC}}</td>
      </tr>
      <tr>
        <th>Smiles</th>
        <td>{{drug?.smiles}}</td>
      </tr>
      <tr>
        <th>CAS</th>
        <td>{{drug?.cas}}</td>
      </tr>
      <tr>
        <th>CID</th>
        <td>{{drug?.cid}}</td>
      </tr>
    </table>
  </div>

</div>

<!--Calculated Compound Parent Properties-->
<h5>Structure Information</h5>
<table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" style="width: 100%">
  <tr>
    <th>Molecule Formula</th>
    <th>Mol Weight</th>
    <th>PSA</th>
    <th>AlogP</th>
    <th>HBD</th>
    <th>HBA</th>
    <th>RTB</th>
  </tr>
  <tr>
    <td>{{drug?.formula}}</td>
    <td>{{drug?.mol_weight}}</td>
    <td>{{drug?.psa}}</td>
    <td>{{drug?.alogp}}</td>
    <td>{{drug?.hbd}}</td>
    <td>{{drug?.hba}}</td>
    <td>{{drug?.rtb}}</td>
  </tr>
</table>

<h5>Related Pathway Information</h5>
<app-pathway-table
[restUrl$]="pathwayRestUrl$"
[pageSize]="5"
[displayedColumns]="pathwayDisplayedColumns"
>
</app-pathway-table>
<!--<table style="width: 100%;" class="mdl-data-table mdl-js-data-table mdl-shadow&#45;&#45;2dp">-->
  <!--<tr>-->
    <!--<th class="mdl-data-table_cell&#45;&#45;non-numberic">Pathway ID</th>-->
    <!--<th class="mdl-data-table_cell&#45;&#45;non-numberic">Pathway Name</th>-->
  <!--</tr>-->
  <!--<tr *ngFor="let pathway of pathwayList">-->
    <!--<td>-->
      <!--<a href="{{pathway.url}}">-->
        <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;primary">{{pathway.pathway_name}}</button>-->
      <!--</a>-->
    <!--</td>-->
    <!--<td>{{pathway.descripor}}</td>-->
  <!--</tr>-->
<!--</table>-->

<h5>Relate Target Information</h5>
<app-target-table
[restUrl$]="targetRestUrl$"
[pageSize]="5"
[displayedColumns]="targetDisplayedColumns">
</app-target-table>


