<h5>Compound Properties</h5>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
  <tr>
    <th>ChEMBL ID</th>
    <th>
      <a href="{{moleculeStructure?.molecule_chembl_id_url}}" target="_blank">
        {{moleculeStructure?.molecule_chembl_id}}
      </a>
    </th>
  </tr>
  <tr>
    <th>Smiles</th>
    <td>{{moleculeStructure?.molecule_smile}}</td>
  </tr>
  <tr>
    <th>Formula</th>
    <td>{{moleculeStructure?.formula}}</td>
  </tr>
  <tr>
    <th>Mol Weight</th>
    <td>{{moleculeStructure?.mol_weight}}</td>
  </tr>
  <tr>
    <th>AlogP</th>
    <td>{{moleculeStructure?.alogp}}</td>
  </tr>
  <tr>
    <th>HBD</th>
    <td>{{moleculeStructure?.hbd}}</td>
  </tr>
  <tr>
    <th>HBA</th>
    <td>{{moleculeStructure?.hba}}</td>
  </tr>
  <tr>
    <th>PSA</th>
    <td>{{moleculeStructure?.psa}}</td>
  </tr>
  <tr>
    <th>RTB</th>
    <td>{{moleculeStructure?.rtb}}</td>
  </tr>
  <tr>
    <th>Targets</th>
    <td>
      <button mat-button color="primary" (click)="goTargetList(moleculeStructure?.molecule_chembl_id); close()">
        {{moleculeStructure?.target_set.length}}
      </button>
    </td>
  </tr>
</table>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
</div>
