<h5>Document Information</h5>
<table class="mdl-data-table mdl-shadow--2dp" style="width: 100%">
  <tr>
    <th>Document Title</th>
    <td>{{molecule?.docs_title}}</td>
  </tr>
  <tr>
    <th>Document ChEMBL ID</th>
    <td>
      <a href="{{molecule?.doc_chembl_id_url}}" target="_blank">
        <button mat-button color="primary">{{molecule?.doc_chembl_id}}</button>
      </a>
    </td>
  </tr>
  <tr>
    <th>PubMed</th>
    <td>
      <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{molecule?.doc_pubmed_id}}" target="_blank">
        {{molecule?.doc_pubmed_id}}
      </a>
    </td>
  </tr>
  <tr>
    <th>DOI</th>
    <td>
      <a href="https://doi.org/{{doc_doi}}" target="_blank">{{molecule?.doc_doi}}</a>
    </td>
  </tr>
  <tr>
    <th>Assay</th>
    <td>
      <a href="{{molecule?.assay_chembl_id_url}}" target="_blank">
        <button mat-button color="primary">{{molecule?.assay_chembl_id}}</button>
      </a>
    </td>
  </tr>
  <tr>
    <th>Assay Description</th>
    <td>{{molecule?.assay_description}}</td>
  </tr>
</table>

<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
</div>
