/*You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap-theme.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  /*src: url(https://example.com/MaterialIcons-Regular.eot); !* For IE6-8 *!*/
  src: url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
  margin-bottom: 65px;
  height: 100%;
}

footer {
  border-top: 0px;
  bottom: 0px;
  weight: 100%;
  height: 50px;
  text-align: center;
}

.data-table {
  overflow: auto;
  min-height: 400px;
  max-height: 100%;
}
.table-section-container{
  position: relative;
}
.table-loading-container{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: normal;
  justify-content: center;
}
.table-option-container{
}
.mat-cell {
  white-space: normal;
}

.table-loading-shade{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: normal;
  justify-content: center;

}
.data-table {
  overflow: auto;
  min-height: 350px;
  max-height: 100%;
  border: #ddd solid 1px;
}
.table-section-container{
  position: relative;
}


